@font-face {
    font-family: 'Bit5x3';
    src: url('Bit5x3.woff2') format('woff2'),
        url('Bit5x3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

